<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-mapping PUBLIC 
 "-//Hibernate/Hibernate Mapping DTD//EN"
 "http://www.hibernate.org/dtd/hibernate-mapping-3.0.dtd"> 

<hibernate-mapping>
   <class name="Employee" table="EMPLOYEE">
      <id name="id" type="int" column="ID">
         <generator class="native"/>
      </id>
      <property name="imie" column="Imie" type="string"/>
      <property name="nazwisko" column="Nazwisko" type="string"/>
      <property name="login" column="Login" type="int"/>
      <property name="haslo" column="Haslo" type="int"/>
      <property name="email" column="Email" type="int"/>
   </class>
</hibernate-mapping>